<h1>Welcome lovers of movies :D</h1>
<button oncLick="location.href='http://localhost:3000/movies';" >Show all movies</button>
</br>
</br>
</br></br></br></br></br></br></br>
</br>
<form method="POST" action="movies"> 
    <input type="number" value="Id" name="id"/>
    <input type="text" value="title" name="title" />
    <input type="number" value="year" name="year"/>

<button type="submit"  >Add the movie</button>
</form>
</br>
<button oncLick="location.href='http://localhost:3000/movies';" >Show all movies</button>
</br>
<button oncLick="location.href='http://localhost:3000/movies';" >Show all movies</button>
<button oncLick="location.href='http://localhost:3000/movies';" >Show all movies</button>